<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>
		<target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
            fileName="${basedir}/logs/${logger}/${shortdate}-${level}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>
	<rules>
		<!--记录LoggerName以log结尾的日志-->
		<logger name="Log_*" minlevel="trace" writeTo="defaultlog" />
		<!--<logger name="*" minlevel="trace" writeTo="defaultlog" />-->
	</rules>
</nlog>